<div class="container">
<h1>WELCOME {{ username }}!</h1>
<div class="search-container">
    <input 
      type="text" 
      placeholder="Search..." 
      [(ngModel)]="searchQuery" 
      (input)="filterGames()" 
   class="input-t" />

    </div>

  <ul>
    <li *ngFor="let game of displayedGames">
      <a routerLink="/game/{{game.id}}">
        <img [src]="game.imageUrl" alt="{{game.name}}">
        <div class="content">
          <div class="name" >{{game.name}}</div>
          <div class="price">
            <span>{{game.price | currency}}</span>
          </div>
        </div>
      </a>
    </li>
  </ul>
  <button *ngIf="filteredGames.length > 3" class="show-more-btn" (click)="toggleShowMore()">
    {{ showAll ? 'Show Less' : 'Show More' }}
  </button>
</div>