
<div class="container">
<h1>Where u can get games</h1>
<div class="ul-div">
<ul class="footer-ul">
    <li> <a href="https://playvalorant.com/en-us/" target="_blank">valorant</a></li>
    <li> <a href="https://www.counter-strike.net/" target="_blank">cs:go</a></li> 
    <li> <a href="https://overwatch.blizzard.com/en-us/" target="_blank">Overwatch</a></li>
    
</ul>
<ul class="footer-ul">
    <li> <a href="https://store.steampowered.com/agecheck/app/39210/" target="_blank">Final Fantasy XIV</a></li>
    <li> <a href="https://store.steampowered.com/agecheck/app/1245620/" target="_blank">Elden Ring</a></li>
    <li> <a href="https://www.playstation.com/en-us/games/bloodborne/" target="_blank">Bloodborne</a></li>
   
</ul>
<ul class="footer-ul">
    <li><a href="https://store.steampowered.com/agecheck/app/1888930/" target="_blank">The Last Of Us</a></li>
     <li><a href="https://www.marvelrivals.com/" target="_blank">Marvel Rivals</a></li>
     <li><a href="https://store.steampowered.com/app/304240/Resident_Evil/" target="_blank">Resident Evil</a></li>

</ul>
</div>
</div>