<div class="container">
<div class="register-container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="divs">
      <div class="div" >
        <label for="username" class="email"></label>
        <input id="username" formControlName="username" class="input" placeholder="username" type="text" />
        <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
          
        </div>
      </div>
  <br>
      <div class="div">
        <label ></label>
        <input id="email"  placeholder="Email" class="input" formControlName="email" type="email" />
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
         
        
        </div>
      </div>
  <br>
      <div class="div">
        <label for="password"></label>
        <input id="password" formControlName="password" class="input" placeholder="Password" type="password" />
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
          <p *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be at least 6 characters long.</p>
        </div>
      </div> 
    </div>
      <a href="" class="a-b" routerLink='/login'>already have an account?</a> <br>
      <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
  </div>
  
</div>